{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/bookingoption_description_view

    Booking option detail page (Veranstaltung Detail) following the JKU Figma
    design: two column layout with the content on the left and a sticky offer
    card on the right; on mobile the sections stack (hero image, title, offer
    card, dates, tabs) with a fixed action bar at the bottom.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "identifier": "2345",
        "title": "AERIAL YOGA",
        "modalcounter": 1,
        "invisible": "0",
        "userid": "2",
        "description": "Flow Yoga Multistyle MindestteilnehmerInnen: 6",
        "imageurl": "http://localhost:58000/pluginfile.php/22/mod_booking/bookingimages/1/Aerial_yoga.png",
        "location": "1",
        "address": "1090 Wien Tendlergasse 11",
        "newbadge": true,
        "capacity": {
            "booked": 2,
            "maxanswers": 30,
            "fullybooked": false
        },
        "kategorien": ["Kategoriename"],
        "metaitems": [
            {
                "value": "FR, 10:30 - 11:45",
                "itemkey": "date",
                "icon": "fa fa-clock-o fa-fw text-primary"
            }
        ],
        "dates": [
            {
            "htmlstring": "<span class=\"date\">3 March 2023</span><span class=\"time\">10:30 AM - 11:45 AM</span>",
            "customfields": []
            }
        ],
        "teachers": [
            {
                "firstname": "Maxima",
                "lastname": "Yoga",
                "description": "Yoga teacher",
                "image": "http://localhost:58000/user/pix.php/3/f1.jpg",
                "teacherurl": "http://localhost:58000/mod/booking/teacher.php?teacherid=3"
            }
        ],
        "dayofweektime": "FR, 10:30 - 11:45",
        "bookitsection": " HTML of Booked button",
        "returnurl": "http://localhost:58000/local/jku/allekurse.php"
    }
}}

<div class="jku-detail">
    <div class="jku-detail__inner">

        {{! Top bar: back to overview (desktop only, mobile has it in the action bar) and edit. }}
        <div class="jku-detail__topbar">
            {{#returnurl}}
                <a href="{{returnurl}}" role="button" class="backtooverview jku-detail__back d-none d-lg-inline-flex align-items-center">
                    <i class="fa-solid fa-arrow-left mr-2" aria-hidden="true"></i>
                    {{#str}} backtooverview, theme_boost_union_jku {{/str}}
                </a>
            {{/returnurl}}
            {{#editurl}}
                <a href="{{editurl}}" role="button" class="btn btn-secondary ml-auto">{{#str}} edit, core {{/str}}</a>
            {{/editurl}}
        </div>

        <div class="jku-detail__main">

            {{! Mobile hero image (the offer card shows the image on desktop). }}
            {{#imageurl}}
                <div class="jku-detail__hero d-lg-none">
                    <img src="{{imageurl}}" alt="{{title}}">
                </div>
            {{/imageurl}}

            <div class="jku-detail__content">

                <div class="jku-detail__section jku-detail__titleblock">
                    <div class="jku-detail__tags d-none d-lg-flex">
                        {{#newbadge}}
                            <span class="jku-badge jku-badge--success">{{#str}} newbadge, local_jku {{/str}}</span>
                        {{/newbadge}}
                        {{> mod_booking/bookingoption_capacity }}
                    </div>
                    <h1 class="jku-detail__title">{{{title}}}</h1>
                    {{#description}}
                        <div class="jku-detail__shortdesc">{{{.}}}</div>
                    {{/description}}
                </div>

                {{#datesexist}}
                <div class="jku-detail__section jku-detail__dates">
                    <h2 class="jku-detail__heading">{{#str}} optiondates, theme_boost_union_jku {{/str}}</h2>
                    {{#showcollapse}}
                        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                            data-target="#collapseDates" data-bs-target="#collapseDates"
                            aria-expanded="false" aria-controls="collapseDates">
                            {{#str}} showdates, theme_boost_union_jku {{/str}}
                        </button>
                    {{/showcollapse}}
                    <div class="jku-detail__datelist {{#showcollapse}}collapse{{/showcollapse}}" id="collapseDates">
                        {{#dates}}
                            <div class="jku-datecard">
                                <div class="jku-datecard__datetime">{{{htmlstring}}}</div>
                                {{#entitylink}}
                                    <div class="jku-datecard__location">
                                        <i class="fa fa-map-marker fa-fw text-primary" aria-hidden="true"></i>
                                        <span>{{{.}}}</span>
                                    </div>
                                {{/entitylink}}
                                {{#customfields}}
                                    <div class="jku-datecard__customfield">{{name}}{{{value}}}</div>
                                {{/customfields}}
                            </div>
                        {{/dates}}
                    </div>
                </div>
                {{/datesexist}}

                <div class="jku-detail__section jku-detail__tabsblock">
                    <ul class="nav nav-tabs jku-tabs" role="tablist">
                        {{#inhalte}}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active"
                                        id="tab-inhalte"
                                        data-bs-toggle="tab"
                                        data-bs-target="#pane-inhalte"
                                        type="button"
                                        role="tab"
                                        aria-controls="pane-inhalte"
                                        aria-selected="true">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                    {{#str}} coursecontent, theme_boost_union_jku {{/str}}
                                </button>
                            </li>
                        {{/inhalte}}
                        {{#voraussetzungen}}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {{^inhalte}}active{{/inhalte}}"
                                        id="tab-voraussetzungen"
                                        data-bs-toggle="tab"
                                        data-bs-target="#pane-voraussetzungen"
                                        type="button"
                                        role="tab"
                                        aria-controls="pane-voraussetzungen">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    {{#str}} requirements, theme_boost_union_jku {{/str}}
                                </button>
                            </li>
                        {{/voraussetzungen}}
                        {{#methoden}}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {{^inhalte}}{{^voraussetzungen}}active{{/voraussetzungen}}{{/inhalte}}"
                                        id="tab-methoden"
                                        data-bs-toggle="tab"
                                        data-bs-target="#pane-methoden"
                                        type="button"
                                        role="tab"
                                        aria-controls="pane-methoden">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    {{#str}} coursemethods, theme_boost_union_jku {{/str}}
                                </button>
                            </li>
                        {{/methoden}}
                    </ul>

                    <div class="tab-content jku-tabs__content">
                        {{#inhalte}}
                            <div class="tab-pane fade show active" id="pane-inhalte" role="tabpanel">{{{.}}}</div>
                        {{/inhalte}}
                        {{#voraussetzungen}}
                            <div class="tab-pane fade {{^inhalte}}show active{{/inhalte}}" id="pane-voraussetzungen" role="tabpanel">{{{.}}}</div>
                        {{/voraussetzungen}}
                        {{#methoden}}
                            <div class="tab-pane fade {{^inhalte}}{{^voraussetzungen}}show active{{/voraussetzungen}}{{/inhalte}}" id="pane-methoden" role="tabpanel">{{{.}}}</div>
                        {{/methoden}}
                    </div>
                </div>

                {{#teachers.0}}
                <div class="jku-detail__section jku-detail__teachers">
                    <h2 class="jku-detail__heading">{{#str}} teachers, theme_boost_union_jku {{/str}}</h2>
                    {{#teachers}}
                        <div class="jku-teacher">
                            <div class="jku-teacher__avatar">
                                {{#image}}
                                    <a href="{{{teacherurl}}}"><img src="{{.}}" alt="{{firstname}} {{lastname}}"></a>
                                {{/image}}
                                {{^image}}
                                    <a href="{{{teacherurl}}}" class="jku-teacher__avatar-placeholder"><i class="fas fa-user" aria-hidden="true"></i></a>
                                {{/image}}
                            </div>
                            <div class="jku-teacher__info">
                                <p class="jku-teacher__name">{{{firstname}}} {{{lastname}}}</p>
                                {{#description}}
                                    <div class="jku-teacher__description">{{{.}}}</div>
                                {{/description}}
                                <a href="{{{teacherurl}}}" class="btn btn-secondary jku-teacher__profilelink">
                                    {{#str}} gotoprofile, theme_boost_union_jku {{/str}}
                                </a>
                            </div>
                        </div>
                    {{/teachers}}
                </div>
                {{/teachers.0}}

                {{#sonstigeinfos}}
                <div class="jku-detail__section jku-detail__additionalinfo">
                    <h2 class="jku-detail__heading">{{#str}} additionalinfo, theme_boost_union_jku {{/str}}</h2>
                    <div class="jku-detail__text">{{{.}}}</div>
                </div>
                {{/sonstigeinfos}}

                {{#responsiblecontactuser.0}}
                <div class="jku-detail__section jku-detail__orgacontacts">
                    <h2 class="jku-detail__heading">{{#str}} orgacontact, theme_boost_union_jku {{/str}}</h2>
                    <div class="jku-detail__orgacontactlist">
                {{/responsiblecontactuser.0}}
                {{#responsiblecontactuser}}
                        <div class="jku-detail__orgacontact">
                            <p class="jku-detail__orgacontact-name">{{{firstname}}} {{{lastname}}}</p>
                            <p class="jku-detail__orgacontact-email">
                                <i class="fa-solid fa-fw fa-envelope text-primary" aria-hidden="true"></i>
                                <a href="mailto:{{{email}}}">{{{email}}}</a>
                            </p>
                        </div>
                {{/responsiblecontactuser}}
                {{#responsiblecontactuser.0}}
                    </div>
                </div>
                {{/responsiblecontactuser.0}}
            </div>

            {{! Sticky offer card ("Über das Angebot"). }}
            <aside class="jku-detail__sidebar">
                <div class="jku-offer-card">
                    <div class="jku-offer-card__media d-none d-lg-block">
                        {{#imageurl}}
                            <img src="{{imageurl}}" alt="{{title}}">
                        {{/imageurl}}
                        {{^imageurl}}
                            <div class="booking-card__image-placeholder"></div>
                        {{/imageurl}}
                    </div>
                    <div class="jku-offer-card__body">
                        <div class="jku-detail__tags jku-offer-card__tags">
                            {{#newbadge}}
                                <span class="jku-badge jku-badge--success">{{#str}} newbadge, local_jku {{/str}}</span>
                            {{/newbadge}}
                            {{> mod_booking/bookingoption_capacity }}
                        </div>

                        <h2 class="jku-offer-card__heading">{{#str}} aboutoffer, theme_boost_union_jku {{/str}}</h2>

                        <ul class="booking-card__meta jku-offer-card__meta">
                            {{#metaitems}}
                                {{#value}}
                                    <li class="booking-card__meta-item {{itemkey}}">
                                        {{#icon}}<i class="{{icon}}" aria-hidden="true"></i>{{/icon}}
                                        <span class="booking-card__meta-value">{{{value}}}</span>
                                    </li>
                                {{/value}}
                            {{/metaitems}}
                            {{#kategorien.0}}
                                <li class="booking-card__meta-item kategorien">
                                    <i class="fa fa-hashtag fa-fw text-primary" aria-hidden="true"></i>
                                    <span class="jku-offer-card__categories">
                                        {{#kategorien}}
                                            <span class="booking-card__tag">{{.}}</span>
                                        {{/kategorien}}
                                    </span>
                                </li>
                            {{/kategorien.0}}
                        </ul>

                        {{#canceluntil}}
                            <div class="jku-offer-card__info">
                                {{#canstillbecancelled}}
                                    {{#str}} bookingoptioncanbecancelleduntil, mod_booking, {{canceluntil}} {{/str}}
                                {{/canstillbecancelled}}
                                {{^canstillbecancelled}}
                                    {{#str}} bookingoptioncantbecancelledanymore, mod_booking, {{canceluntil}} {{/str}}
                                {{/canstillbecancelled}}
                            </div>
                        {{/canceluntil}}
                        {{#bookingopeningtime}}
                            <div class="jku-offer-card__info">
                                {{#str}} bookingopeningtime, mod_booking {{/str}}: {{{.}}}
                            </div>
                        {{/bookingopeningtime}}
                        {{#bookingclosingtime}}
                            <div class="jku-offer-card__info">
                                {{#str}} bookingclosingtime, mod_booking {{/str}}: {{{.}}}
                            </div>
                        {{/bookingclosingtime}}

                        <div class="jku-offer-card__actions bookitsection">
                            {{{ bookitsection }}}
                        </div>

                        {{#termsandconditions}}
                            <div class="jku-offer-card__info termsandconditions">
                                {{#str}} termsandconditions, theme_boost_union_jku, {{termsandconditions}} {{/str}}
                            </div>
                        {{/termsandconditions}}
                        {{#subpluginstemplatedata}}
                            <div class="col-ap-{{label}}">
                                <div>{{description}}</div>
                                <div id="{{key}}">{{{value}}}</div>
                            </div>
                        {{/subpluginstemplatedata}}
                    </div>
                </div>
            </aside>
        </div>

        {{! Similar events, rendered as a course list by mod_booking (competencies). }}
        {{#competencies}}
        <div class="jku-detail__similar">
            <h2 class="jku-detail__heading">{{#str}} similarcourses, theme_boost_union_jku {{/str}}</h2>
            {{{.}}}
        </div>
        {{/competencies}}
    </div>

    {{! Mobile action bar: back + book button, fixed at the bottom. }}
    <div class="jku-detail__mobilebar d-lg-none">
        {{#returnurl}}
            <a href="{{returnurl}}" role="button" class="btn btn-secondary jku-detail__mobilebar-back" aria-label="{{#str}} backtooverview, theme_boost_union_jku {{/str}}">
                <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
            </a>
        {{/returnurl}}
        <div class="jku-detail__mobilebar-actions bookitsection">
            {{{ bookitsection }}}
        </div>
    </div>
</div>
{{#js}}
    require(['local_shopping_cart/cart'], function(cart) {
        cart.buttoninit({{modalcounter}}, "mod_booking");
    });
{{/js}}
